[dir]
dir = /Users/fengjh/Desktop/book/pdf
dest_dir = /Users/fengjh/Desktop/book/dir
dest_name = dest

[files]
files = [/Users/fengjh/Desktop/book/pdf/Gradle.pdf, /Users/fengjh/Desktop/book/pdf/算法刷题LeetCode.pdf]
dest_dir = /Users/fengjh/Desktop/book/files
dest_name = dest

[dirs]
dirs = [/Users/fengjh/Desktop/book/pdf, /Users/fengjh/Desktop/book/temp]
dest_dir = /Users/fengjh/Desktop/book/dirs
dest_name = dest