[book]
title = 深入解析Android 5.0系统
path = /Users/fengjh/Desktop/book/android/深入解析Android 5.0系统.pdf
output_dir = android04
start = [24,60,112,168,181,206,243,262,288,301,341,402,418,474,509,538,559,581,596,633,655,688,703]
end = [60,112,168,181,206,243,262,288,301,341,402,418,474,509,538,559,581,596,633,655,688,703,723]
chapter = [第2章Android的编译环境-Build系统,
           第3章连接Android和Linux内核的桥梁-Android的Bionic,
           第4章进程间通信-Android的Binder,
           第5章连接Java和C与C++层的关键-Android的JNI,
           第6章Android的同步和消息机制,
           第7章第一个用户进程-Android的Init进程,
           第8章支撑Android世界的一极-Zygote进程,
           第9章精确地控制资源的使用-Android的资源管理,
           第10章Android系统的核心之一-SystemServer进程,
           第11章APK包的安装卸载和优化-Android的应用管理,
           第12章Android的组件管理,
           第13章Android的多用户模式,
           第14章Android的图形显示系统,
           第15章Android的窗口系统,
           第16章Android的输入管理,
           第17章Android的电源管理,
           第18章Android的存储系统,
           第19章Android的网络管理框架,
           第20章Android的音频系统,
           第21章让应用更安全-Android的SELinux模块,
           第22章Dalvik和ART虚拟机,
           第23章系统升级模块-Android的Recovery模块,
           第24章Android的调试方法]