[book]
title = 深入理解Android内核设计思想
path = /Users/fengjh/Desktop/book/android/深入理解Android内核设计思想.pdf
output_dir = android03
start = [60,101,126,217,225,241,321,389,448,459,550,563,584,595,613,628,636,654,674]
end = [101,126,217,225,241,321,389,448,459,549,563,584,595,613,628,636,653,674,700]
chapter = [第4章操作系统基础,
           第5章Android进程与线程管理,
           第6章进程间通信-Binder,
           第7章Android启动过程简析,
           第8章管理Activity和组件运行状态的系统进程-ActivityManagerService(AMS),
           第9章GUI系统之SurfaceFlinger,
           第10章GUI系统之"窗口管理员"-WMS,
           第11章让你的界面炫彩起来的GUI系统之View体系,
           第12章"问渠哪得清如许，为有源头活水来"-InputManagerService与输入事件,
           第13章应用不再同质化-音频系统,
           第14章Intent的匹配规则,
           第15章APK应用程序的资源适配,
           第16章Android字符编码格式,
           第17章Android和OpenGLES,
           第18章"系统的UI"-SystemUI,
           第19章Android常用的工具"小插件"-Widget机制,
           第20章Android应用程序的编译和打包,
           第21章软件版本管理,
           第22章系统调试辅助工具]