[book]
title = 深入理解Android5源代码
path = /Users/fengjh/Desktop/book/android/深入理解Android5源代码.pdf
output_dir = android05
start = [40,59,82,129,161,192,234,268,305,351,380,402,444,492,528,552,595,631]
end = [59,82,129,161,192,234,268,305,351,380,402,444,492,528,552,595,631,685]
chapter = [第3章JavaNativeInterface系统,
           第4章分析HAL系统,
           第5章分析IPC通信机制,
           第6章分析Binder对象和Java接口,
           第7章分析ServiceManager和MessageQueue,
           第8章init进程和Zygote进程,
           第9章System进程和应用程序进程,
           第10章分析Activity组件,
           第11章应用程序管理服务-PackageManagerService分析,
           第12章ContentProvider存储机制,
           第13章分析广播机制源代码,
           第14章分析电源管理系统,
           第15章分析WindowManagerService系统,
           第16章分析电话系统,
           第17章分析短息系统,
           第18章Sensor传感器系统详解,
           第19章分析SEAndroid系统,
           第20章分析ART系统]